body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url(../images/white-wood.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
  background: linear-gradient(to right, #FFF, #000);
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  border: 1px solid #ddb422;
  box-shadow:  -1px 1px #ddb422, -2px 2px #ddb422, -3px 3px #ddb422, -4px 4px #ddb422, -5px 5px #ddb422;
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #dd2b22;
  box-shadow:  -1px 1px #dd2b22, -2px 2px #dd2b22, -3px 3px #dd2b22, -4px 4px #dd2b22, -5px 5px #dd2b22;
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
  border-style: solid;
}

.med {
  width: 203.5%;
  border-style: solid;
}

.large {
  width: 303%;
  border-style: solid;
}
